# cmake build files
build/

# generated headers
examples/example_*.h
examples/example_*.hpp
template.h

# executables
examples/example_1
examples/example_autoload
examples/example_auto_free
examples/example_cxx
examples/example_cxx_autoload
gen_template_h
gendlopen

# binary files
*.o
*.obj
*.exe
*.dll
*.so
*.so.*
*.dylib
*.lib
*.a
a.out

# backups
*~
*.old
*.bak
